$tablet: 768px;
$mobile: 480px;

$fuente: "Roboto", sans-serif;

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
    min-height: 80vh;
    width: 100%;
    max-width: 700px;

    @media screen and (max-width: $tablet) {
        min-height: 77.9vh;
        width: 70%;
    }

    .titulo {
        font-family: "Angel Wish", sans-serif;
        font-size: 50px;
        margin-bottom: 40px;
        text-align: center;
        font-weight: normal;

        @media screen and (max-width: $tablet) {
            font-size: 35px;
        }

        @media screen and (max-width: $mobile) {
            font-size: 30px;
            max-width: 400px;
        }
    }

    .fondo {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        background: whitesmoke;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        width: 70%;
        max-width: 600px;
        margin-bottom: 30px;

        .form-group {
            display: grid;
            grid-template-columns: 1fr;
            gap: 5px;
            margin-bottom: 25px;

            .form-label {
                font-family: $fuente;
                font-weight: bold;
                font-size: 20px;
                display: block;
                margin-bottom: 5px;
                text-align: center;
            }

            .form-input {
                font-family: $fuente;
                padding: 8px;
                height: 25px;
                width: 350px;
                border: 1px solid #E6E6E6;
                background-color: white;
                transition: background-color 0.3s ease;
                border-radius: 5px;
                color: black;

                &::placeholder {
                    color: black;
                    opacity: 1;
                }

                
                  
            }

            .input-error {
                border: 2px solid red !important;
                background-color: #ffe6e6; // Color de fondo suave para indicar error
              }

            .select-input {
                font-family: $fuente;
                padding: 8px;
                height: 44px;
                border: 1px solid #E6E6E6;
                background-color: white;
                transition: background-color 0.3s ease;
                border-radius: 5px;
                color: black;
                appearance: none;
            }

            .select-input option {
                background-color: white;
                color: black;
            }

            .error-message {
                color: red;
                font-size: 14px;
                text-align: left;
                margin-top: 5px;
              }

            .input-container {
            position: relative;
            display: flex;
            align-items: center;
            
            .form-input {
                flex: 1;
                padding-right: 40px; // Espacio para el botón de mostrar/ocultar contraseña
            }
            
            .toggle-password {
                position: absolute;
                right: 10px;
                background: none;
                border: none;
                cursor: pointer;
                font-size: 18px;
                color: black;
            }
            }
              
        }

        .form-button {
            grid-column: span 2;
            border: none;
            padding: 12px;
            background-color: #E4E3E3;
            font-weight: bold;
            border-radius: 8px;
            font-size: 15px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            width: 50%;
            justify-self: center;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

            &:hover {
                background-color: #CAC7C7;
            }

            &:focus {
                background-color: #9C9A9A;
            }
        }

        //TABLETS
        @media screen and (max-width: $tablet) {
            grid-template-columns: 1fr;
            width: 100%;
            max-width: 100%;
            gap: 15px;
            padding: 10px;
            margin: 0;
            border-radius: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            align-items: center;
            

            .form-group {
                width: 100%;
                margin-bottom: 10px;

                .form-input {
                    justify-self: center;
                    width: 90%;
                }

                .error-message {
                    font-size: 12px;
                    text-align: left;
                    margin-left: 20px;
                  }
                
            }

            .form-label {
                font-size: 16px;
                margin-bottom: 15px;
            }

            .form-input {
                padding: 5px;
                height: 20px;
                border-radius: 5px;
                border: 1px solid #E6E6E6;
                background-color: white;
            }

            .form-button {
                padding: 10px;
                font-size: 12px;
                grid-column: span 1;
                justify-self: center;
            }
              
        }

        //Moviles
        @media screen and (max-width: $mobile) {
            grid-template-columns: 1fr;
            width: 100%;
            max-width: 350px;
            gap: 15px;
            padding: 10px;
            margin: 0;
            border-radius: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            align-items: center;
        }

        
    }

    .mensaje {
        font-family: $fuente;

        a {
            text-decoration: none;
            color: black;
        }

        @media screen and (max-width: $tablet) {
            font-size: 15px;
            margin-bottom: 25px;
        }
    }


    // Estilos para el modo oscuro
    &.dark-mode {
        .fondo {
            background: #333;
            box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);

            .form-input {
                background-color: #555;
                border: 1px solid #777;
                color: white;

                &::placeholder {
                    color: white;
                    opacity: 1;
                }
            }

            .select-input {
                background-color: #555;
                border: 1px solid #777;
                color: white;
            }

            .select-input option {
                background-color: #777;
                color: white;
            }

            .form-button {
                background-color: #777;
                color: #fff;

                &:hover {
                    background-color: #999;
                }

                &:focus {
                    background-color: #888;
                }
            }

            //Fondo rojo cuando está mal el input
            .input-error {
                background-color: #4d2e2e; 
            }
            
            .form-group{
                .toggle-password {
                
                    color: white;
                }
            }
        }

        .mensaje {
            color: #fff;

            a {
                color: #bbb;
            }
        }
    }
}
