$light-fill: #5251512F;
$dark-fill: #1c1c1cd3;

.custom-shape-divider-bottom-1741535211 {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;

  svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 126px;
  }

  .shape-fill {
    fill: $light-fill;
    

    &.dark {
      fill: $dark-fill;
      transition: fill 0.3s ease-in-out;
    }
  }
}
