.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
  min-height: 80vh;
  width: 100%;
  max-width: 700px;
}
@media screen and (max-width: 768px) {
  .form-container {
    min-height: 77.9vh;
    width: 70%;
  }
}
.form-container .titulo {
  font-family: "Angel Wish", sans-serif;
  font-size: 50px;
  margin-bottom: 40px;
  text-align: center;
  font-weight: normal;
}
@media screen and (max-width: 768px) {
  .form-container .titulo {
    font-size: 35px;
  }
}
@media screen and (max-width: 480px) {
  .form-container .titulo {
    font-size: 30px;
    max-width: 400px;
  }
}
.form-container .fondo {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  background: whitesmoke;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 70%;
  max-width: 600px;
  margin-bottom: 30px;
}
.form-container .fondo .form-group {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
  margin-bottom: 25px;
}
.form-container .fondo .form-group .form-label {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 20px;
  display: block;
  margin-bottom: 5px;
  text-align: center;
}
.form-container .fondo .form-group .form-input {
  font-family: "Roboto", sans-serif;
  padding: 8px;
  height: 25px;
  width: 350px;
  border: 1px solid #E6E6E6;
  background-color: white;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  color: black;
}
.form-container .fondo .form-group .form-input::placeholder {
  color: black;
  opacity: 1;
}
.form-container .fondo .form-group .input-error {
  border: 2px solid red !important;
  background-color: #ffe6e6;
}
.form-container .fondo .form-group .select-input {
  font-family: "Roboto", sans-serif;
  padding: 8px;
  height: 44px;
  border: 1px solid #E6E6E6;
  background-color: white;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  color: black;
  appearance: none;
}
.form-container .fondo .form-group .select-input option {
  background-color: white;
  color: black;
}
.form-container .fondo .form-group .error-message {
  color: red;
  font-size: 14px;
  text-align: left;
  margin-top: 5px;
}
.form-container .fondo .form-group .input-container {
  position: relative;
  display: flex;
  align-items: center;
}
.form-container .fondo .form-group .input-container .form-input {
  flex: 1;
  padding-right: 40px;
}
.form-container .fondo .form-group .input-container .toggle-password {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: black;
}
.form-container .fondo .form-button {
  grid-column: span 2;
  border: none;
  padding: 12px;
  background-color: #E4E3E3;
  font-weight: bold;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 50%;
  justify-self: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.form-container .fondo .form-button:hover {
  background-color: #CAC7C7;
}
.form-container .fondo .form-button:focus {
  background-color: #9C9A9A;
}
@media screen and (max-width: 768px) {
  .form-container .fondo {
    grid-template-columns: 1fr;
    width: 100%;
    max-width: 100%;
    gap: 15px;
    padding: 10px;
    margin: 0;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    align-items: center;
  }
  .form-container .fondo .form-group {
    width: 100%;
    margin-bottom: 10px;
  }
  .form-container .fondo .form-group .form-input {
    justify-self: center;
    width: 90%;
  }
  .form-container .fondo .form-group .error-message {
    font-size: 12px;
    text-align: left;
    margin-left: 20px;
  }
  .form-container .fondo .form-label {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .form-container .fondo .form-input {
    padding: 5px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #E6E6E6;
    background-color: white;
  }
  .form-container .fondo .form-button {
    padding: 10px;
    font-size: 12px;
    grid-column: span 1;
    justify-self: center;
  }
}
@media screen and (max-width: 480px) {
  .form-container .fondo {
    grid-template-columns: 1fr;
    width: 100%;
    max-width: 350px;
    gap: 15px;
    padding: 10px;
    margin: 0;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    align-items: center;
  }
}
.form-container .mensaje {
  font-family: "Roboto", sans-serif;
}
.form-container .mensaje a {
  text-decoration: none;
  color: black;
}
@media screen and (max-width: 768px) {
  .form-container .mensaje {
    font-size: 15px;
    margin-bottom: 25px;
  }
}
.form-container.dark-mode .fondo {
  background: #333;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
}
.form-container.dark-mode .fondo .form-input {
  background-color: #555;
  border: 1px solid #777;
  color: white;
}
.form-container.dark-mode .fondo .form-input::placeholder {
  color: white;
  opacity: 1;
}
.form-container.dark-mode .fondo .select-input {
  background-color: #555;
  border: 1px solid #777;
  color: white;
}
.form-container.dark-mode .fondo .select-input option {
  background-color: #777;
  color: white;
}
.form-container.dark-mode .fondo .form-button {
  background-color: #777;
  color: #fff;
}
.form-container.dark-mode .fondo .form-button:hover {
  background-color: #999;
}
.form-container.dark-mode .fondo .form-button:focus {
  background-color: #888;
}
.form-container.dark-mode .fondo .input-error {
  background-color: #4d2e2e;
}
.form-container.dark-mode .fondo .form-group .toggle-password {
  color: white;
}
.form-container.dark-mode .mensaje {
  color: #fff;
}
.form-container.dark-mode .mensaje a {
  color: #bbb;
}

/*# sourceMappingURL=Formulario.css.map */
