@charset "UTF-8";
.info {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  gap: 25px;
}
@media screen and (max-width: 768px) {
  .info {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-height: 768px) and (orientation: landscape) {
  .info {
    flex-direction: column;
    align-items: center;
  }
}
.info .video {
  height: 300px;
  margin-left: 30px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5); /* Sombra */
  border-radius: 10px; /* Bordes redondeados */
}
@media screen and (max-width: 768px) {
  .info .video {
    height: 270px;
  }
}
@media screen and (max-width: 480px) {
  .info .video {
    height: 200px;
  }
}
@media screen and (max-height: 768px) and (orientation: landscape) {
  .info .video {
    flex-direction: column;
    width: 80%;
    max-width: 600px;
    height: auto;
    margin: 10px auto;
    display: block;
  }
}
.info .texto {
  margin-left: 25px;
  width: 60%;
  text-align: justify;
}
@media screen and (max-width: 768px) {
  .info .texto {
    width: 70%;
    text-align: justify;
  }
}
@media screen and (max-width: 480px) {
  .info .texto {
    width: 80%;
  }
}

.titulo {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
}
@media screen and (max-width: 768px) {
  .titulo {
    font-size: 25px;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .titulo {
    font-size: 20px;
    text-align: center;
  }
}

.parrafo {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  .parrafo {
    font-size: 18px;
  }
}
@media screen and (max-width: 480px) {
  .parrafo {
    font-size: 16px;
  }
}

.muestras {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(82, 81, 81, 0.1843137255);
  gap: 15px;
}
@media screen and (max-width: 768px) {
  .muestras {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
@media screen and (max-height: 800px) and (orientation: landscape) {
  .muestras {
    flex-direction: column;
    align-items: center;
  }
}
.muestras.dark-mode {
  background-color: rgba(28, 28, 28, 0.8274509804);
  transition: background 0.3s ease-in-out;
}

.abajo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 750px;
}
@media screen and (max-width: 768px) {
  .abajo {
    width: 90%;
  }
}
@media screen and (max-width: 480px) {
  .abajo {
    width: 90%;
  }
}
.abajo h1 {
  font-family: "Angel Wish", sans-serif;
  font-size: 40px;
  font-weight: normal;
}
@media screen and (max-width: 768px) {
  .abajo h1 {
    font-size: 35px;
  }
}
@media screen and (max-width: 480px) {
  .abajo h1 {
    font-size: 30px;
  }
}
.abajo p {
  width: 600px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  min-height: 70px;
}
@media screen and (max-width: 768px) {
  .abajo p {
    font-size: 18px;
  }
}
@media screen and (max-width: 480px) {
  .abajo p {
    font-size: 16px;
  }
}

.btn {
  background-color: #f5f5f5;
  color: #000;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s;
  text-decoration: none;
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  .btn {
    font-size: 18px;
  }
}
@media screen and (max-width: 480px) {
  .btn {
    font-size: 16px;
  }
}
.btn:hover {
  background-color: #e0e0e0;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
}
.btn:focus {
  background-color: #9C9A9A;
  transition: background-color 0.3s ease;
}

.reseñas {
  padding: 20px;
  background-color: rgba(82, 81, 81, 0.1843137255);
}
.reseñas h1 {
  font-family: "Angel Wish", sans-serif;
  font-weight: normal;
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}
.reseñas .reseña-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
@media screen and (max-width: 768px) {
  .reseñas {
    padding: 10px;
  }
  .reseñas h1 {
    font-size: 35px;
  }
}
@media screen and (max-width: 480px) {
  .reseñas {
    padding: 10px;
  }
  .reseñas h1 {
    font-size: 30px;
  }
}
.reseñas.dark-mode {
  background-color: rgba(28, 28, 28, 0.8274509804);
  transition: background 0.3s ease-in-out;
}
.reseñas.dark-mode h1 {
  color: #fff;
}
.reseñas.dark-mode .reseña-section {
  color: #ddd;
}
.reseñas.dark-mode .reseña-section p {
  color: #bbb;
}

/*# sourceMappingURL=Home.css.map */
