.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 5px;
    z-index: 1000;
    
}

.footer-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    font-weight: normal;
}

.icon {
    margin: 0 10px;
    width: 30px;
}
