// Estilos generales de la sección de información
.info {
  display: flex;
  flex-direction: row;
  margin-top: 20px;

  @media screen and (max-width: 768px) {
    flex-direction: column; // En pantallas pequeñas, cambia a columna
    align-items: center;
  }

  @media screen and (max-height: 768px) and (orientation: landscape){
    flex-direction: column;
    align-items: center;
  }
}

// Video
.video {
  height: 300px;
  margin: 10px ;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5); /* Sombra */

  @media screen and (max-width: 768px) {
    height: 270px; // Reduce el tamaño del video en móviles
  }

  @media screen and (max-width: 480px) {
    height: 200px; // Aún más pequeño en dispositivos pequeños
  }

  @media screen and (max-height: 768px) and (orientation: landscape){
    flex-direction: column;
    width: 80%; 
    max-width: 600px;
    height: auto; 
    margin: 10px auto; 
    display: block;
    
  }
}

.texto {
  margin-left: 25px;
  width: 60%;
  margin: 20px auto;
  text-align: justify;

  @media screen and (max-width: 768px) {
    width: 70%;
    text-align: justify; // Alineación centrada en móviles
  }

  @media screen and (max-width: 480px)  {
    width: 80%;
  }
  
}

// Título y texto
.titulo {
  font-family: "Roboto", sans-serif;
  font-size: 25px;

  @media screen and (max-width: 768px) {
    font-size: 25px; // Reduce el tamaño del texto en móviles
    text-align: center;
  }

  @media screen and (max-width: 480px) {
    font-size: 20px; // Reduce el tamaño del texto en móviles
    text-align: center;
  }

}



.parrafo {
  font-family: "Roboto", sans-serif;
  font-size: 20px;

  @media screen and (max-width: 768px) {
    font-size: 18px;
  }

  @media screen and (max-width: 480px) {
    font-size: 16px;
  }
}

// Muestras
.muestras {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;

  @media screen and (max-width: 768px) {
    flex-direction: column; // Pone los elementos en columna en móviles
    align-items: center;
    gap: 10px;
  }

  //Las que tengan menos de 800 px de alto se verán asi
  @media screen and (max-height:800px) and (orientation: landscape){
    flex-direction: column;
    align-items: center;
   
  }
}

// Abajo
.abajo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 750px;

  @media screen and (max-width: 768px) {
    width: 90%; // Reduce el ancho en tablets
  }

  @media screen and (max-width: 480px) {
    width: 90%; // Usa todo el ancho en móviles
  }

  h1 {
    font-family: "Angel Wish", sans-serif;
    font-size: 40px;
    font-weight: normal;

    @media screen and (max-width: 768px) {
      font-size: 35px; // Reduce el tamaño del título en móviles
    }

    @media screen and (max-width: 480px) {
      font-size: 30px;
    }
  }

  p {
    width: 600px;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    min-height: 70px ;

    @media screen and (max-width: 768px) {
      font-size: 18px;
    }

    @media screen and (max-width: 480px) {
      font-size: 16px;
    }
  }
}

.btn{
  background-color: #f5f5f5; 
  color: #000; 
  border: none;
  padding: 8px 16px;
  border-radius: 6px; 
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
  transition: background-color 0.3s, box-shadow 0.3s;
  text-decoration: none;
  font-size: 20px;

  @media screen and (max-width: 768px) {
    font-size: 18px;
  }

  @media screen and (max-width: 480px) {
    font-size: 16px;
  }

  &:hover{
    background-color: #e0e0e0; /* Cambio de color al pasar el mouse */
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
  }
}


