.custom-shape-divider-top-1741116033 {
  position: absolute;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1741116033 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 80px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1741116033 .shape-fill {
  fill: #cf3434b3;
}